{% extends 'base.html.twig' %}

{% block title %}Edit ActPerson{% endblock %}

{% block body %}
    <h1>Edit ActPerson</h1>

    {{ include('act_person/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('act_person_index') }}">back to list</a>

    {{ include('act_person/_delete_form.html.twig') }}
{% endblock %}