{% extends 'base.html.twig' %}

{% block title %}New ActContact{% endblock %}

{% block body %}
    <h1>Create new ActContact</h1>

    {{ include('act_contact/_form.html.twig') }}

    <a href="{{ path('act_contact_index') }}">back to list</a>
{% endblock %}